@model List<StackoverflowLight.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var question in Model)
{
    <div class="question card">
        <a asp-controller="Question" asp-action="Index" asp-route-id="@question.QuestionId">
            <h1 class="card-title title">@question.Title</h1>
        </a>
        <div class="questionBar card-body">

            <div class="group">
                <i class="far fa-comment"></i>
                <p>@question.Comments.Count</p>
            </div>
            <div class="group">
                <a asp-controller="Home" asp-action="UpvoteAsync" asp-route-id="@question.QuestionId">
                <i class="far fa-arrow-alt-circle-up"></i>
                </a>
                <p>@question.UpvotedBy.Count</p>
                <a asp-controller="Home" asp-action="DownvoteAsync" asp-route-id="@question.QuestionId">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </a>
                <p>@question.DownvotedBy.Count</p>
            </div>
        </div>
    </div>
}
