@model List<StackoverflowLight.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-info noTxtDecoration" asp-controller="Question" asp-action="Create">
   Add question
</a>

@foreach (var question in Model)
{
    <div class="question card">
        <a class="noTxtDecoration" asp-controller="Question" asp-action="Index" asp-route-id="@question.PostId">
            <div class="titleButton">
                <h1 class="card-title margin darkText">@question.Title</h1>
                <i class="fas fa-arrow-alt-circle-right darkText margin"></i>
            </div>
        </a>
        <div class="questionBar card-body lightBackground">

            <div class="group">
                <i class="far fa-comment text-white"></i>
                <p class="text-white">@question.Comments.Count</p>
            </div>
            <div class="group">
                <a asp-controller="Question" asp-action="UpvoteAsync" asp-route-id="@question.PostId">
                    <i class="far fa-arrow-alt-circle-up @(question.Upvotes.Select(user=>user.User.UserName).Contains(User.Identity.Name)?"darkText":"text-white")"></i>
                </a>
                <p class="text-white">@question.Upvotes.Count</p>
                <a asp-controller="Question" asp-action="DownvoteAsync" asp-route-id="@question.PostId">
                    <i class="far fa-arrow-alt-circle-down @(question.Downvotes.Select(user=>user.User.UserName).Contains(User.Identity.Name)?"darkText":"text-white")"></i>
                </a>
                <p class="text-white">@question.Downvotes.Count</p>
            </div>
        </div>
    </div>
}
