@model List<StackoverflowLight.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var question in Model)
{
    <div class="question card">
        <h1 class="card-title title">@question.Title</h1>
        <div class="questionBar card-body">
            <div class="group">
                <i class="far fa-comment"></i>
                <p>@question.Comments.Count</p>
            </div>
            <div class="group">
                <button asp-controller="Home" asp-action="Upvote" asp-route-id="@question.QuestionId">
                <i class="far fa-arrow-alt-circle-up"></i>
                </button>
                <p>@question.UpvotedBy.Count</p>
                <button asp-controller="Home" asp-action="Downvote" asp-route-id="@question.QuestionId">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <p>@question.DownvotedBy.Count</p>
            </div>
        </div>
    </div>
}
